################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Double Linked List Example/FileContentIndex/c460e8a6-854a-4a12-a2b0-34c212ab812d.vsidx
/.vs/Double Linked List Example/FileContentIndex/489222e3-ff4f-41ca-b1f4-570202cb5cc1.vsidx
/.vs/Double Linked List Example/v17/ipch/AutoPCH/ecdb3909edfdcef/DOUBLE LINKED LIST EXAMPLE.ipch
/.vs/Double Linked List Example/v17/.suo
/.vs/Double Linked List Example/v17/Browse.VC.db
/.vs/Double Linked List Example/v17/Browse.VC.db-shm
/.vs/Double Linked List Example/v17/Browse.VC.db-wal
/.vs/Double Linked List Example/v17/Browse.VC.opendb
/.vs/Double Linked List Example/v17/DocumentLayout.json
